.profile {
  display: flex;
  width: 50%;
  min-width: 800px;
  padding: 5px 10px;
  margin: 0 auto;
  font-size: 14px;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 5%;
}

.profile__privacy {
  min-height: 100%;
  width: 49%;
  background: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  position: relative;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}

.profile__header {
  display: flex;
  width: 50%;
  min-width: 800px;
  margin: 0 auto;
  margin-bottom: 5px;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0px 10px 10px;
}

.profile__img {
  justify-content: center;
  padding-top: 20px;
  width: 100px;
}
.profile__privacy span {
  display: block;
  padding: 15px 0px;
}
.profile__privacy button {
  margin-top: 10px;
}

.profile button {
  border: none;
  border-radius: 5px;
  width: 40%;
  padding: 3px;
  cursor: pointer;
}

.profile button:hover {
  background-color: #00cd75;
  color: white;
}

.profile h1 {
  width: 100px;
  padding: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.profile__safespace {
  min-height: 100%;
  width: 49%;
  background: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}
.profile li {
  padding: 15px 0px;
}

.profile__reservation {
  min-height: 100%;
  width: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  color: #444;
  top: 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
}


.profile__reservation ul {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.profile__reservation li {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 10px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.profile__reservation li:last-child {
  border-bottom: none;
}

.profile__reservation li:first-child {
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
}


.profile__reservation li span {
  display: block;
  text-align: center;
  padding: 5px 0px;
  width: 25%;
}

.profile__reservation li span:last-child {
  display: block;
  width: 10%;
}

.profile__reservation li button {
  border: none;
  width: 100%;
  padding: 0px;
  cursor: pointer;
}
