@import url('https://fonts.googleapis.com/css?family=Karla');

* {
  box-sizing: border-box;
}

::selection {
  background: #fd0;
  color: #222;
}

br {
  font-size: 0;
}

.chat-body {
  font-family: 'Karla', sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
  background-color: #ddd;
}

.chat-box {
  width: 400px;
  height: 500px;
  background-color: #eee;
  border-radius: 16px 16px 0 0;
  overflow: hidden;
  /* border: 2px #45f solid; */
}

.chat-box header {
  background-color: #00cd75;
  color: #fff;
  display: flex;
  padding: 0 16px;
}

.chat-box header > * {
  line-height: 40px;
}

.chat-box header h1 {
  margin: 0;
  margin-top: 5px;
  font-size: 1.05em;
}

.chat-box header .close-button {
  cursor: pointer;
  user-select: none;
}

.chat-box section {
  overflow-y: scroll;
  overflow-x: hidden;
  height: calc(100% - 40px - 40px);
  padding: 12px;
}

.chat-box section div {
  margin: 12px 0;
}

.chat-box section span {
  display: inline-block;
  padding: 6px 8px;
  margin: 1px 0;
  max-width: 90%;
  word-wrap: break-word;
}

.chat-box section div.not-me {
  text-align: left;
  color: white;
}

.chat-box section div.not-me span {
  background-color: #35B17C;
  border-radius: 4px 16px 16px 4px;
}

.chat-box section div.not-me span:first-of-type {
  border-top-left-radius: 16px;
}

.chat-box section div.not-me span:last-of-type {
  border-bottom-left-radius: 16px;
}

.chat-box section div.me {
  text-align: right;
}

.chat-box section div.me span {
  background-color: #AFF1D5;
  border-radius: 16px 4px 4px 16px;
}

.chat-box section div.me span:first-of-type {
  border-top-right-radius: 16px;
}

.chat-box section div.me span:last-of-type {
  border-bottom-right-radius: 16px;
}

.chat-box footer input {
  font-family: 'Karla', sans-serif;
  outline: 0;
  padding: 0 12px;
  height: 40px;
  width: 100%;
  font-size: 1em;
}


.ch1 {
  flex: 1;
}

.block {
  display: block;
  width: 70%;
}

.chat-box__img {
  margin-right: 5px;
  width: 15px;
  height: 15px;
}
