.navbar__login {
  justify-content: space-between;
  align-items: center;
  display: flex;
  list-style: none;
  font-size: 13px;
  padding-left: 0;
  justify-content: flex-end;
  margin: auto 30px auto auto;
  background-color: #fff;
  padding: 10px 5px;
}
.navbar__login li {
  padding: 5px 3px;
}

.navbar__login button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.nav__wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5cf0b294;
  padding: 8px 12px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
}

.navbar__logo {
  width: 30%;
  font-size: 24px;
  color: white;
  margin-left: 10%;
}

.navbar__logo {
  color: #eb739b;
}

.navbar__menu {
  width: 30%;
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 5px 3px;
  margin: 1%;
}

.navbar__menu li:hover {
  background-color: white;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}

.navbar_icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  z-index: 3;
  right: 32px;
  font-size: 24px;
  color: rgb(216, 170, 20);
}
