.counselor_list_content_wrap {
  margin: 120px auto 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 70%;
  flex-wrap: wrap;
  padding-bottom: 100px;
}

.counselor_list_header {
  font-size: 30px;
  inline-size: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
  align-content: center;
  border-bottom: #ddd 1px solid;
  padding-bottom: 10px;
}

.counselor_list {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0 auto;
  flex-wrap: wrap;
}

.counselor_profile {
  width: 15%;
  min-width: 200px;
  padding: 20px;
  margin: 1%;
  background-color: #fff;
  display: flex;
  position: relative;
  transition: 0.3s;
  float: left;
  border: 1px solid #ddd;
  flex-direction: column;
}

.counselor_profile a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: block;
  content: '';
  z-index: 1;
}

.counselor_profile_img {
  width: 100%;
  height: 80%;
  margin-bottom: 20px;
  overflow: hidden;
}


.counselor_profile_img img {
  width: 100%;
  transition: 0.3s;
  vertical-align: middle;
  font-size: 1em;
}

.counselor_info>.counselor_name {
  font-size: 24px;
  font-weight: 600;
  border-top: 1px solid #ddd;
  padding-top: 15px;
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.counselor_info>.counseling_type {
  font-size: 13px;
  color: rgb(134, 134, 134);
  max-width: 100%;
  /*hide content if over 2 line*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media (max-width: 1000px) {
  .counselor_profile {
    width: 31.333%;
  }
}

@media (max-width: 915px) {
  .counselor_profile {
    width: 48%;
    margin-right: 0;
    margin-bottom: 15px
  }

  .counselor_profile_img {
    margin-bottom: 15px;
  }

  .counselor_info>.counselor_name {
    font-size: 22px;
  }
}

@media (max-width: 600px) {
  .counselor_profile {
    padding: 15px;
    width: 100%;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .counselor_profile_img {
    margin-bottom: 10px;
  }

  .counselor_info>.counselor_name {
    font-size: 18px;
  }
}